* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading {
    font-size: 2.4rem;
    text-align: center;
    margin: 30px;
    padding: 30px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}
.container > img {
    border: none;
}
.heading-result {
    text-align: center;
    margin: 20px;
    font-size: 1.8rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.btn-container > button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
}