* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

#heading {
  text-align: center;
  font-size: 2.4rem;
  margin: 40px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.todo-input {
  padding: 10px;
  width: 250px;
  font-size: 16px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  padding: 9px 15px;
  cursor: pointer;
}

.todo-list {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.todo-list li {
  background: #222;
  padding: 10px 15px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.todo-list button {
  margin-left: 5px;
  padding: 4px 8px;
}