* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(74 0 117);

}
.head {
    text-align: center;
    margin: 50px;
    padding: 10px;
    color: white;
    font-size: 2.5rem;
}
.instraction {
    text-align: center;
    margin: 50px;
    padding: 10px;
    color: white;
    font-size: 2rem;
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}
#input {
    width:750px;
    height: 35px;

}
.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-btn > button {
    margin: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 22px;
    padding-left: 22px;
    border: 1px solid black;
    background-color: white;
    color: black;
    
}
#btn:hover{
    transform:scale(1.2);
    transition-duration: 0.7s;
}
#result {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin: 30px;
} 